.contentCenterBox
{
position:relative;
display:inline-block;
}

#centerEnterButton
{
position:absolute;
display:inline-block;
margin-left:-631px;
left:50%;
width:1200px;
}

.mainAboutBlock {
    margin: 0 auto;
    width: 960px;
}
.mainAbout {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border:solid 0px;
    width: 960px;
    height:100%;
    overflow: hidden;
    display:inline-block;
    position:relative;
    font-family:MyriadPro;
 }
 
.header {  
    text-align: center ;
    position:relative;
    color: #666666;
    font-family:MyriadPro;
    font-size:34px;
    list-style: none;
    margin-top:0px;
    margin-left:0px;
}
.header p {   
    color:#4682B4;
    font-size:19px;
    font-family:MyriadPro;
    margin-top:0px;
}

.line1{ 
    margin-left:272px;
    margin-top:-25px;
}

.block {
    border:solid 0px #DCDCDC;
    float:left;
    left:0px;
    width:260px;
    height:260px;
    display:inline-block;
    position:relative;
    margin-left: 50px;
    margin-top:35px;
}
   
.block ul {
    display:inline-block;
    padding:0px;
    top:0px;
    list-style: none;
    margin-left:210px;
}

.block ul li {
    margin-left: -50px;
    padding: 0;
    display: inline-block ;
	}

.line2{    
	position:absolute;
    top:0px;   
    left:0px; }
	
.icon{
	position:absolute;
    top:0px;   
	margin-top:-5px;
    left:10%;
}
.title {
    position:absolute;
    top:41%;
    left:12%;
    color:#4682B4;
    font-size:18px;
}
.aboutTitleLink
{
    cursor: pointer;
}

.title p {
    width:210px;
    text-align:  left;
    position:absolute;
    margin-top:5px;
    color:#696969;
    font-size:14px;
    font-family:MyriadPro;
    line-height: 14px;/* это я добавил */
}
.block a {
    position:absolute;
    top:94%;
    left:12%;
    color:#4682B4;
    font-size:16px;
}
.block a:hover {
    color: #000000;
}
#aboutDetailMain
{
    width:100%;
    background-color: #f3f3f3;
    position:relative;
    margin-top:20px;
}

#dropButton1 {    
    position:absolute;
    cursor: pointer;
    margin-left:80px;
    margin-top:285px;
    color: #4682B4;
    font-size:16px;
	text-decoration:underline;
	}
#dropButton1:hover{
    color: #252525;
}
#dropButton2:hover{
    color: #252525;
}
#dropButton3:hover{
    color: #252525;
}
	
#dropButton2 {    
    position:absolute;
    cursor: pointer;
    margin-left:391px;
    margin-top:285px;
    color: #4682B4;
    font-size:16px;
	text-decoration:underline;
	}
	
#dropButton3 {    
    position:absolute;
    cursor: pointer;
    margin-left:703px;
    margin-top:285px;
    color: #4682B4;
    font-size:16px;
	text-decoration:underline;
	}
	
#dropTextLayer1 
{ 
     position:relative;
     display: none;
         width:960px;
    left:50%;
    margin-left:-480px;

}
 
 #dropTextLayer2 
{ 
     position:relative;
     display: none;
         width:960px;
    left:50%;
    margin-left:-480px;
 }
 
 #dropTextLayer3 
{ 
     position:relative;
     display: none;
         width:960px;
    left:50%;
    margin-left:-480px;
 }


.textBox { 

    position:relative;
	font-size:14px;
	margin-bottom:0px; 
	padding: 20px; 
}

.detailTitle1{
    color: #4682B4;
    font-size:19px;
}
.detailTitle2{
    font-weight:bold;
    font-size:16px;
}

.detailTitle3{
    font-weight:bold;
    font-style:  italic;
    font-size:16px;
}


#detailTable{
    left:50%;
    border-spacing:0px;
}


#detailTable tr td
{
    
    text-indent:0em;
    border-left: 2px solid #dee5ef;
    text-align: left;
    padding-right:10px;
    padding-left:40px;
    padding-top: 10px;
}


.listAbout
{
    list-style-position: inside;
    text-indent:0em;
}

.aboutStepBlock{
    width:960px;
    border: 2px solid #d9d9d9;
   	box-sizing:border-box;
	position:relative;
	-moz-box-sizing:border-box;
	display:inline-block;
    padding:15px;
    background-color: #fff;
    margin-bottom:20px;
	border-radius:3px;
}


#sliderCenterBox
{
	position:absolute;
	display:inline-block;
	margin-left:-600px;
	left:50%;
	width:1200px;
}

#beginButtonCenter
{
position:absolute;
margin-left:-60px
}