#coursesMainBox
{
	position:relative;
	width:960px;
	left:50%;
	margin-left:-480px;
	 font-family:MyriadPro;
}

#coursesHeader
{
	width:1100px;
     color:#4682B4;
    font-size:24px;
	margin:20px;
}

#coursesPart1
{
	display:inline-block;
	position:relative;
	width:450px;
}


#coursesPart2
{
	width:450px;
    position:absolute;
    margin-left:60px;
    top:0px;
    margin-top:50px;
    
}

.courseBox
{
	display:inline-block;
	//height:200px;
	position:relative;
	 font-family:MyriadPro;
	margin-left:5px;
	margin-bottom:40px;
}

.courseBox img
{
	position:absolute;
	margin-left:0px;
	margin-bottom:0px;
}

.courseName
{
	position:relative;
     color:#4682B4;
    font-size:20px;
	margin-top:0px;
	margin-left:150px;
}
.courseName a
{
    color:#4682B4;
    font-size:20px;
    text-decoration: none;
}

.courseLevelBox
{
	margin-top:12px;
	margin-bottom:12px;
	margin-left:150px;
}

.courseLevelImage
{
	margin-right:20px;
}

.courseLevelIndex
{
	position:absolute;
	display:inline-block;
	margin-left:15px;
	margin-top:8px;
}

.courseLevel
{
     color:#4682B4;
}


.courseText
{
display:inline-block;
	position:relative;
    color:#696969;
    font-size:14px;
	margin-left:150px;
}

.courseText p
{
	margin-top:-0px;
	margin-bottom:-0px;
}

.coursesTextFooterBlock1
{
	display:inline-block;
	position:relative;
	width:450px;
	padding:20px;
}

.coursesTextFooterBlock2
{
	width:450px;
	margin-left:20px;
	top:52px;
	padding:20px;
}

.courseLang
{
    margin-top:12px;
	margin-bottom:12px;
	margin-left:150px;
}

#coursesLang{
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
}

#coursesLang.down {
    margin-left: 90px;
    margin-top: -22px;
}
#coursesLang #en {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding-left: 8px;
    padding-right: 8px;
}
#coursesLang button{
    background:none!important;
    border:none;
    cursor: pointer;
    color: #4b70a3;
    font-size: 14px;
    font-family: "MyriadPro";
    text-decoration: underline;
    vertical-align: top;
}
#coursesLang .selectedLang {
    text-decoration: none;
    color: #999999;
}
