/*********Hamburger Menu************/
#contentBoxMain
{
	position:relative;
	width:100%;
}

#hamburgerNavigation
{
	display:none;
	position:fixed;
	width:100%;
	height:80px;
	margin-top:23px;
	margin-left:0px;
	z-index:20;
	background-color:white;
	border-bottom: 3px solid #4682B4;
}

#hamburgerSenterNavigation
{
	position:relative;
	display:inline-block;
	width:600px;
	left:50%;
	margin-left:-300px;
}

#hamburgerLang
{
	z-index: 6;
    margin-left: 0px;
    margin-top: 23px;
    position: fixed;
	float:right;
}

#hamburgerLang.down {
    margin-top: -45px;
    margin-left: 1141px;
}
#hamburgerLang #en {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding-left: 8px;
    padding-right: 8px;
}
#hamburgerLang button{
    background:none!important;
    border:none;
    cursor: pointer;
    color: #4b70a3;
    font-size: 18px;
    font-family: "MyriadPro";
    text-decoration: underline;
}
#hamburgerLang .selectedLang {
    text-decoration: none;
    color: #999999;
	}

#logo2{
    float: left;
}

#logo2.down {
    margin-top: 10px;
	margin-left:160px;
}


#logo2.down img {
    max-height: 58px;
    max-width: 178px;
}

#hamburgerButton2
{
	display:inline-block;
	position:absolute;
	margin-top:-3px;
	margin-left:20px;
	cursor: pointer;
	z-index:21;
}

#burgerShadow
{
	margin-left:36px;
	margin-top:8px;
	position:absolute;
	width:45px;
	height:62px;
	box-shadow: 0px 0px 20px rgba(9,5,9,0.3);
	border-radius: 5px;
}

#hamburgerButton ul
{
	list-style:none;
}

#hamburgerButton2 ul
{
	list-style:none;
}

.hamburgerButtonLine2
{
	position:relative;
	display:inline-block;
	height:8px;
	width:36px;
	 border-radius: 10px;
	 border: 2px solid #ffffff;
	background-color:#4682B4;
	margin-bottom:2px;
	margin-left:-22px;
}

#hamburgerMainBox
{
	display:none;
	height:100%;
	width:25%;
	position:fixed;
	margin-top:20px;
	border-right:2px solid #4682B4;
	z-index:25;
	background-color:#fff;
	overflow: auto;
	transition: left .2s;
}

#hamburgerSubBox
{
	margin-top:20px;
	padding-top:0px;

}

.hamburgerBox
{
	display:inline-block;
	position:relative;
	width:100%;
	height:40px;
	padding-top:2px;
	padding-bottom:10px;
	text-align:center;
	 margin-bottom:0px;
}

.hamburgerBox2
{
	display:inline-block;
	position:relative;
	width:100%;
	height:50px;
	padding-top:0px;
	padding-bottom:0px;
	text-align:center;
	 margin-top:0px;
}



.hamburgerButtonLine2:hover
{
	//	background-color:#393939;
}



.hamburgerBox:hover
{
	box-shadow: 0 0 150px rgba(0,0,0,0.2);
	 border-radius: 5px;
}

.hamburgerBox   .hamburgerLink
{
	display:inline-block;
	margin-top:10px;
	 font-size:120%;
	 font-family:MyriadPro;
	  text-decoration:none;
	  color:black;
	  z-index:21;
}

.hamburgerBox   .hamburgerLink:hover
{
	color:#4b70a3;
}

.hamburgerLine
{
	width:40px;
	margin:auto;
	padding-bottom:0px;
	border-top:1px solid #afafaf;
}

.hamburgerBox2  #hamburgerEnterButton
{
	margin-left:4px;
	margin-top:20px;
	position:lelative;	
	display:inline-block;
	width:90px;
	height:27px;
	 font-size:120%;
	 font-family:MyriadPro;
	background: #4b70a3;
	 border-radius: 10px;
	border: 2px solid #ffffff;
	color: white;
	 text-decoration: none;
	  vertical-align: middle;
	  padding-top:7px;
	padding-bottom:7px;
    font-weight: normal;
}
.hamburgerBox2   #hamburgerEnterButton:hover
{
	background: #474747;
}

#centerLang
{
	z-index: 6;
    margin-left: 0px;
    margin-top: 23px;
    position: fixed;
	float:right;
    border:solid 2px #111;
    z-index:50;
}
