
/* stylesheet for lesson top */

.lectureMainBlock { border-bottom:solid 2px #DCDCDC; left:50%; width: 960px;  display:inline-block;
 position:relative;    margin-left: -480px; margin-top:0px; margin-bottom:5px;padding-bottom: 38px;}
 
.lectureImageMain
{
position:absolute;
}
.titlesBlock
{ 
 border-left:solid 2px #DCDCDC; float:left; left:0px;  display:inline-block;   position:relative; 
   margin-left: 102px; margin-top:0px; padding-left: 15px;
}
 
.titlesBlock ul
{ display:inline-block; padding:0px; margin-top:3px; list-style: none; margin-left:0px;}

.titlesBlock ul li
{
line-height: 135%;
margin-left:0px;
text-align: left ;
 color:#363636;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
 }
 .titlesBlock ul li span
{
font-weight:bold;
 }
 

#subTitle
{
position:absolute;
margin-left: 140px;
margin-top: -21px;

}

#lectionTypeText
{
display:inline-block;
margin-left:0px;
text-align: left ;
 color:#363636;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-style:italic;
}
#lectionTypeImage
{
position:absolute;
display:inline-block;
margin-top:4px;
margin-left:12px;
}
#lectureTimeText
{
position:absolute;
margin-left: 230px;
margin-top: -21px;
display:inline-block;
text-align: left ;
color:#363636;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-style:italic;
}
#lectureTimeImage
{
position:absolute;
display:inline-block;
margin-top:-18px;
margin-left:276px;
}
#iconImage
{
position:absolute;
display:inline-block;
margin-left:20px;
margin-top:10px;
}
#counter
{
margin-bottom:-20px;
margin-top:-6px;
}

.lectureMainBlock p
{ border:solid 0px black; left:50%; height:17px; display:inline-block; margin-top:-10px; }

.lectureMainBlock a
{color:#4682B4}

 .teacherBlock
 { border:solid 0px #DCDCDC; left:52%; top:8px; width: 455px;  display:inline-block;  
 position:absolute;    margin-left: 0px; margin-top:0px; margin-bottom:-10px; padding-bottom:0px;}

 .teacherBlock span 
{ border-left:solid 2px #DCDCDC; left:102px; top:0px;  display:inline-block;  
 position:absolute;    margin-left: 0px;  padding-left:15px;}

 .teacherBlock ul
{ display:inline-block; padding:0px; margin-top:0px; list-style: none; margin-bottom:-20px; margin-left:0px;}

 .teacherBlock ul li
{
line-height: 131%;
margin-left:0px;
text-align: left ;
 color:#363636;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
 }
 
 .teacherTitle
 {
  color:#4682B4
 }
 
 #teacherSkype
 {
 display:inline-block;
 font-weight:bold;
 }

.teacherBlock img{
    display: block;
}
.teacherBlock > a{
    display: inline-block;
    width: 88px;
    text-align: center;
    font-size: small;
    line-height: 100%;
}
.teacherBlock a:hover{
    color:#666666;
}


.teacherBlock input[type="submit"] {
    width: 220px;
    height:30px;
    border-radius: 5px;
    border:none;
    color:#ffffff;
    background-color:#4b75a4;
    box-shadow:0px 2px 0px #7f7f7f;
    font-size: medium;
    margin-top: 20px;
}
.teacherBlock input[type="submit"]:hover {
    border-top-color: #454545;
    background: #454545;
    color: #fcfcfc;
    cursor: pointer;
}
/*----Calendar----*/
div.calendar{
    margin-top: 20px;
    overflow: hidden;
    display: block;
}
#consultationCalendar{
    display: block;
    cursor: pointer;
    text-decoration: underline;
}
#dateTimePicker{
    display: block;
    height: 1px;
    opacity: 0;
    cursor: pointer;
}
.datetimepicker{
    width: 305px;
}
.datetimepicker table.table-condensed tr td.disabled{
    color: #ff7272;
}
.datetimepicker table thead tr:last-child{
    border-bottom: 1px solid #007070;
    font-size: 10px;
    color: #7b7b7b;
    text-transform: uppercase;
}
.datetimepicker table tbody td{
    font-size: 13px;
    width: 35px;
    height: 35px;
}
.datetimepicker .datetimepicker-days{
    font-family: SegoeUILight;
    width: 295px;
    height:370px;
}
.datetimepicker table.table-condensed{
    margin: 0 auto;
}
.datetimepicker .switch{
    font-size: 28px;
    font-weight: 100;
}
.datetimepicker .table-condensed tr:first-child{
    color: #4B75A4;
}
.datetimepicker .table-condensed td{
    border-radius: 0;
}
.datetimepicker table.table-condensed tr td.day:hover,.datetimepicker table.table-condensed tr td.active.active:hover {
    border-radius: 150px;
    background: #4b75a4;
    color:#ffffff;
}
.datetimepicker table.table-condensed tr td.active.active{
    background: #4b75a4;
    color:#ffffff;
}
.datetimepicker .day{
    color: #00701d;
}
.datetimepicker .icon-arrow-left{
    width: 14px;
    height: 38px;
    display: inline-block;
    background-image: url("images/leftarrow.png");
    background-position: 0 16px; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
}
.datetimepicker .icon-arrow-right{
    width: 14px;
    height: 38px;
    display: inline-block;
    background-image: url("images/rightarrow.png");
    background-position: 100% 16px; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
}
.datetimepicker .datetimepicker-hours .icon-arrow-left, .datetimepicker .datetimepicker-minutes .icon-arrow-left{
    background-position: 0 12px; /* Положение фона */
}
.datetimepicker .datetimepicker-hours .icon-arrow-right, .datetimepicker .datetimepicker-minutes .icon-arrow-right{
    background-position: 100% 12px; /* Положение фона */
}
.datetimepicker table.table-condensed th.prev:hover,.datetimepicker table.table-condensed th.next:hover,.datetimepicker table.table-condensed th.switch:hover {
    background: #ffffff;
}
.datetimepicker-hours .switch, .datetimepicker-minutes .switch{
    font-size: 14px;
    font-weight: 100;
    color: #666666;
    text-transform: lowercase;
    line-height: 28px;
}
.datetimepicker-hours table thead tr:last-child, .datetimepicker-minutes table thead tr:last-child{
    border-bottom: none;
}
div.datetimepicker-hours{
    width: 295px;
}
div.datetimepicker-minutes{
     width: 295px;
 }
.datetimepicker-hours table.table-condensed,.datetimepicker-minutes table.table-condensed{
    width: 100%;
}
.datetimepicker-hours td span.hour,.datetimepicker-minutes td span.minute{
     border-radius: 0;
     margin: 1px 2px 1px 2px;
     color: #9f9f9f;
     width: 90px;
     height: 25px;
}
.datetimepicker-hours td span.hour:hover, .datetimepicker-minutes td span.minute:hover{
    background: #4b75a4;
    color: #ffffff;
}
.datetimepicker .datetimepicker-days table.table-condensed tr td.today:hover{
    background: #4b75a4;
    color: #ffffff;
    border: none;
}
.datetimepicker-hours table.table-condensed td span.active.active, .datetimepicker-minutes table.table-condensed td span.active.active{
    background: #4b75a4;
    color: #ffffff;
}
.datetimepicker table.table-condensed tr td.today{
    border: 1px solid #4b75a4;
    background: #ffffff;
}
div#consultationInfo{
    background: #ffffff;
    position: absolute;
    z-index: 3;
    font-family: SegoeUILight;
    width: 305px;
    height:200px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
#consultationInfo{
    display: none;
    text-align: center;
    font-size: 15px;
    color: #9f9f9f;
}
#consultationInfo p{
    margin: 10px 15px 10px 15px;
}
#consultationInfo .consInfHeader{
    font-size: 18px;
    color: #4b75a4;
}
#consultationInfo #consInfText{
    text-align: left;
}
#consultationButton{
    width: 130px;
    height: 34px;
    border-radius: 10px;
    background: #4b75a4;
    color: #ffffff;
    margin-top: 20px;
}
/*----Calendar----*/