@charset "utf-8";
/* CSS Document */

.subViewLessons h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.subViewLessons p {
    margin: 0;
    padding: 0;
    font-size:100%;
}
.subViewLessons a:hover{
    color:#666666;
}
p.lesname{
    width:100%;
    margin-left: 3px;
<<<<<<< HEAD
}
.lesname b{
    color:#000000;
=======
>>>>>>> 9c09ab966b738ee596d017bfe76b9f6e72582976
}
.subViewLessons p, h1, h2, h3, h4, h5, h6, span{
    font-size:100%;
}
.subViewLessons {
    overflow:hidden;
    margin:0 auto;
    padding:15px 5px 30px 0px;
    border-top:1px solid #cccccc;
    clear: both;
}
.subViewLessons span {
    font-style:  italic;
}
.subViewLessons img {
    padding-left:5px;
}
div.preLessons {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:5px;
    border-left:1px solid #cccccc;
    display:inline-block;
    max-width:49%;
    float:left;
}
div.nextLessons {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:5px;
    border-left:1px solid #cccccc;
    display:inline-block;
    max-width:49%;
    float:right;
}
.typeLesson {
    display:inline-block;
    float:left;
}
.typeLesson img {
    margin-right: 22px;
}

.timeLesson {
    display:inline-block;
    float:left;
}
.ratingLeson {
    clear:both;
}
table.ratingLeson{
    border-spacing: 0 0;
}
.preLesonLink {
    padding-left:5px;
}
.nextLesonLink a {
    text-decoration: none;
}