@charset "utf-8";
/* CSS Document */

.subViewLessons h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.subViewLessons p {
    margin: 0;
    padding: 0;
    font-size:100%;
}
.subViewLessons a:hover{
    color:#666666;
}
p.lesname{
    width:100%;
    margin-left: 3px;
}
.lesname b{
    color:#000000;
}
.lesname b{
    color:#000000;
}
.subViewLessons p, h1, h2, h3, h4, h5, h6, span{
    font-size:100%;
}
.subViewLessons {
    overflow:hidden;
    margin:0 auto;
    padding:15px 5px 30px 0px;
    border-top:1px solid #cccccc;
    clear: both;
}
.subViewLessons span {
    font-style:  italic;
}
.subViewLessons img {
    padding-left:5px;
}
div.preLessons {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:5px;
    border-left:1px solid #cccccc;
    display:inline-block;
    max-width:49%;
    float:left;
}
div.nextLessons {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:5px;
    border-left:1px solid #cccccc;
    display:inline-block;
    max-width:49%;
    float:right;
}
.typeLesson {
    display:inline-block;
    float:left;
}
.typeLesson img {
    margin-right: 22px;
}

.timeLesson {
    display:inline-block;
    float:left;
}
.ratingLeson {
    clear:both;
}
table.ratingLeson{
    border-spacing: 0 0;
}
.preLesonLink {
    padding-left:5px;
}
.nextLesonLink a {
    text-decoration: none;
}
.nextLesonLink input[type="submit"] {
    margin-top: 5px;
    width: 230px;
    height:44px;
    border-radius: 10px;
    border:none;
    color:#ffffff;
    background-color:#4b75a4;
    box-shadow:0 2px 0 #7f7f7f;
    font-size: medium;
    background-image: url('images/pointersmall.png');
    background-repeat: no-repeat;
    background-position: 192px 14px;
}
.nextLesonLink input[type="submit"], x:-moz-any-link {
    background-position: 192px 15px;
}
.nextLesonLink input[type="submit"]:hover {
    background: #454545;
    background-image: url('images/pointersmall.png');
    background-repeat: no-repeat;
    background-position: 192px 14px;
    cursor: pointer;
}
.nextLesonLink input[type="submit"]:hover, x:-moz-any-link {
    background-position: 192px 15px;
}