/*header navigation*/
div.subNavBlockModule {
    margin: 0 auto;
    width: 960px;
    clear: both;
    overflow: hidden;
}
div.subLinksModule{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:inline-block;
    margin-bottom: 28px;
    float:left;
}
.subLinksModule a{
    color: #666666;
}
/*Main Block*/
.ModuleBlock
{
    margin: 0 auto;
    width: 960px;
    border-top: 1px solid #d8d8d8;
    color: #666666;
    overflow: hidden;
}
.ModuleTitle h1{
    font-weight: inherit;
    color: #4B75A4;
    margin: 24px 0 0 176px;
    line-height: 100%;
}
img.ModuleImg{
    position: absolute;
    width: 140px;
    margin-top: 20px;
}
.ModuleInfo {
    display:inline-block;
    margin-left: 18%;
    margin-right: 2%;
    width: 30%;
    overflow: hidden;
    vertical-align: top;
}
.ModuleModules {
    display:inline-block;
    width: 48%;
    overflow: hidden;
    vertical-align: top;
}
.ModuleInfo{
    font-size: small;
}
.colorP{
    color: #4b75a4;
}
.colorGrey{
    color: #666666;
}
table.ModuleLevelLine{
    width: 100%;
}
.ModuleInfo table{
    border-spacing: 0;
}
td.ModuleLevel {
    text-align: right;
}
.ModuleDetail td{
    padding-right: 28px;
    vertical-align: top;
}
.ModuleTeacherDetail td{
    padding-right: 15px;
    vertical-align: top;
}
p.subModuleInfo, p.ModuleAboutTeacher{
    color: #4b75a4;
    margin-bottom: 0;
}
.ModuleInfo ul{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
}
/*teachers*/
.ModuleInfo h2{
    border-top: 1px solid #cccccc;
    font-weight: inherit;
    color: #4B75A4;
}
.ModuleTeacherImg{
    display:inline-block;
    width: 70px;
}
.ModuleTeacherImg img{
    width: 64px;
}
.ModuleTeacherInfo{
    display:inline-block;
    width: 210px;
    margin-bottom: 20px;
    vertical-align: top;
}
.ModuleTeacherInfo h3{
    font-weight: inherit;
    color: #4B75A4;
    margin: 0 0 5px 0;
}
/*teachers*/
/*modules*/
.ModulesLessonNumber{
    display:inline-block;
    width: 74px;
}
.ModulesLessonInfo{
    display:inline-block;
    width: 378px;
    vertical-align: top;
}
.ModulesLessonInfo a{
    display:inline-block;
    width: 378px;
    vertical-align: top;
    text-decoration: none;
}
div.mLessonNumber{
    float: right;
    margin-right: 12px;
}
.mLessonNumber{
    text-align: center;
    font-size: xx-large;
    border: 1px solid;
    width: 45px;
    height: 45px;
    border-radius: 150px;
}
.ModulesLessonInfo h2{
    font-weight: inherit;
    font-size: larger;
    color: #4B75A4;
    margin: 0 0 0 0;
    line-height: 100%;
}
.mLessons{
    margin: 15px 0 10px 0;
}
.mLessons p{
    font-size: small;
}
/*modules*/