.ModuleBlock
{
    margin: 0 auto;
    width: 1200px;
    color: #666666;
    font-size:18px;
    overflow: hidden;

}
img.moduleImg{
    width: 90px;
    padding-right: 20px;
    border-right: 1px solid #cccccc;
}
img.time{
    padding-left: 5px;
    padding-right: 5px;
}
#titleModule{
    margin: 0 auto;
    color:#4682B4;
    font-weight: inherit;
    font-size:18px;
}
.leftModule{
    float:left;
    width:740px;
}
/*.courseLevelImage*/
/*{*/
    /*margin-right:20px;*/
/*}*/
.lessonModule{
    border-top: 1px solid #cccccc;
    padding-left: 115px;
    font-size: 16px;
}
.lessonModule h2
{
    /*padding: 20px 0px;*/
    color:#4682B4;
    font-weight: inherit;
    font-size:24px;
}
.lessonModule td {
    padding-left: 0;
    /*line-height: 1;*/
    /*width: 60px;*/
    vertical-align: top;
}
.leftModule a {
    color: #4b75a4;
    text-decoration:none;
    }
a:link {color:#4b75a4;} /* непосещенная ссылка */
a:hover {color:#5b5b5b; text-decoration:underline;} /* ссылка, над которой находится курсор мыши */

.rightModule{
    float:right;
    width:440px;
}
.teacherBox{

}
.teacherBox table{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-top: 40px;
}
.teacherBox td{
    padding-right: 15px;
}
.teacherBox h2{
    margin: 0 auto;
    color:#4682B4;
    font-weight: inherit;
    font-size:18px;
}
.teacherBox img {
    width: 90px;
    height: 90px;
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid #4b75a4; /* Параметры рамки */
}
.rightModule a {
    color: #4b75a4;
    font-size:14px;
    vertical-align: top;
}
a:link {color:#4b75a4;}
a:hover {color:#5b5b5b; text-decoration:underline;}
.teacherBoxLeft{
    text-align: center;
    line-height: 1;
}
.teacherBoxRight{
    border-left: 1px solid #cccccc;
    padding-left: 15px;
}
