.regFormBG{
    padding-bottom: 100px;
    padding-top: 10px;
}
.regFormBox{
    margin:0 auto;
    width:960px;
    text-align: center;
}
.singInForm{
    background:#ffffff;
    margin:0 auto;
    width:540px;
    min-height:420px;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(24, 37, 51, .5);
    text-align:center;
    overflow: hidden;
}
.rowemail input,.rowpass input{
    padding-left:8px;
    width:444px;
    height:50px;
    border-radius:5px;
    border:1px solid #d8d8d8;
    font-size:16px;
}
.singInForm input:hover{
    border-color: #1287bf;
    box-shadow: 0 0 2px #1287bf;
    cursor:pointer;
}
.singInEmail{
    margin-top:50px;
    margin-bottom:8px;
}
.singInPass{
    margin-bottom:8px;
}
input[type="submit"]#singInButton    {
    width:195px;
    height:52px;
    border-radius: 10px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    margin-top: 25px;
    box-shadow:0px 2px 0px #7f7f7f;
    font: normal     400 28px/50px "MyriadPro";
    font-size:       25px;
    letter-spacing:1px;
    text-shadow:1px 1px 1px black;
    padding-right: 25px;
    background-image: url('images/pointer.png');
    text-shadow:1px 2px 1px rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-position: 145px 18px;
}
input#singInButton:hover {
    background: #454545;
    box-shadow:0px 2px 0px #7f7f7f;
    cursor: pointer;
    background-image: url('images/pointer.png');
    background-repeat: no-repeat;
    background-position: 145px 18px;
}
input#singInButton::-moz-focus-inner {
    padding:0;
    border:0;
}
input[type="submit"]#singInButton, x:-moz-any-link {
    background-position: 145px 17px;
}
div.linesingInForm{
    margin:0 auto;
    width:444px;
    font-size: 18px;
    border-top:1px solid #4b75a4;
    padding:10px 0 10px 0;
    color:#b0b0b0;
}
.rowButtons{
    margin-bottom:25px;
}
.image{
    margin:0 auto;
    width:410px;
    height:50px;
}
/****************registration***********/
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
#regCheckbox input {
    margin: 13px 3px 0 0;
    width: 15px;
    height: 15px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
#regCheckbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
#regCheckbox:not(checked) {
    position: absolute;
    opacity: 0;
}
#regCheckbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 42px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
#regCheckbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 26px;
    height: 14px;
    border-radius: 13px;
    background: #dedede;
    border:1px solid #dedede;
    transition: all .3s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
#regCheckbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: #FFF;
    border:1px solid #dedede;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px -1px 1px rgba(0, 0, 0, .2);

      box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
     0 .45em 0 .1em rgba(0,0,0,.05) inset;
     box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
     0 0 .5em rgba(0,0,0,.3);
     box-shadow: inset 1px -1px 1px rgba(0, 0, 0, .2);*/
     transition: all .3s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
#regCheckbox:checked + label:before {
    background: #4B75A4;
    border:1px solid #4B75A4;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
#regCheckbox:checked + label:after {
    left: 14px;
    border:1px solid #4B75A4;
}
/* Показываем получение фокуса.*/
#regCheckbox:focus + label:before {
    box-shadow: 0 0 1px #1287bf;
}
#regCheckbox:hover + label:before {
    box-shadow: 0 0 1px #1287bf;
}
.regCheckbox{
    margin:0 auto;
    text-align: left;
    width:452px;
}
.regCheckbox  label{
    color:#4B75A4;
}
.regCheckbox  label:hover{
    color:#666666;
}
.rowemail input:focus,.rowpass input:focus{
    cursor: text;
}
/* PassEye */
.passEye {
    position:relative;
    display:inline-block;
}
.passEye input {
    padding-right:0px;
}
.passEye input::-ms-reveal, .passEye input::-ms-clear {
    display:none
}
.passEye .eye {
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-8px;
    display:block;
    height:10px;
    width:18px;
    cursor:pointer;
    background:url('images/passEye.png') no-repeat left 2px;
}
.passEye .openEye {
    background-position:left bottom;
}
/* PassEye */