.owl-wrapper
{
	width: 100%;
}
.owl-controls
{
	position: absolute;
	top: -1%;
}
.owl-wrapper-outer
{
	margin-top: 52px;
}
#slider
{
	z-index: 0;
}
.slide p
{
	position: absolute;
	font-size: 0.6em;
	font-family: "MyriadPro";
	font-weight: 200;
	color: white;
	text-shadow: 0.1em 0.1em 0.1em #555;
	text-align: center;
	z-index: 1;
	left: 50%;
	
}
.slide img
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#sliderCenterBox
{
	position: absolute;
	width: 100%;
	z-index: 1;
}
.sliderCenterBoxText p
{
	position: relative;
	line-height: 5%;
	text-align: center;
	color : #ffffff;
	font-size: 1.4em;
	font-family: "MyriadPro";
	text-shadow: 0.05em 0.05em 0.05em #555;
}



.sliderCenterBoxLine hr
{
	border: 0.05em solid white;
	width: 2.5em;
	
}


.sliderSnake .snake img
{
	position: absolute;
	top: 145%;
	
}
.sliderSnake .button
{
	position: absolute;
	top: 195%;
	left: 50%;
}
.sliderSnake .button a
{
	position: absolute;
	text-shadow: 0.1em 0.1em 0.1em black;
	color: white;
	font: normal 400 0.54em/2.16em "MyriadPro2";
	line-height: 300%
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	border-top: 0.05em solid #007cbf;
	background: #4b70a3;
	border-radius: 0.3em;
	box-shadow: 0em 0.1em 0em black;
	z-index: 4;
}
.sliderSnake .button a:hover
{
	border-top-color: #454545;
	background: #454545;
	color: #fcfcfc;
	cursor: pointer;
}
.sliderSnake .button a:active
{
	border-top-color: #363636;
	background: #363636;
}
.mouseLine img
{
	position: absolute;
	margin-top: -2.55%;
	z-index: 2;
}