/* Стиль загального блоку */
html{
	font-family: "MyriadPro";
}
/* Стиль заголовку*/
.stepHeader h1{
	color:#5b5b5b;
	margin: 0px;
	font-weight: normal;
}
.stepHeader h3{
	color:#4b75a4;
	margin-top: -6px;
	margin-bottom: 0px;
	font-weight: normal;
}
.stepHeaderCont {
	margin: 0px auto;
	margin-bottom: 60px;
}
.stepHeader {
	text-align:center;
	margin: 0px auto;
	border-bottom:2px solid #4b75a4;
	padding:0 30px 5px 30px;
	display: table;
}
.steps {
	font-size: 100%;
	margin-top:0px;
}
.steps h4 {
	margin-bottom:10px;
}
.steps h2 {
	margin-bottom:10px;
}
.steps {
	background-color: #f3f3f3;
	padding-top:60px;
	margin-top: 20px;
    padding-bottom:20px;
}
/* Стиль екземплярів класу Step*/
.stepLeft {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
	position:relative;
	margin: 0px auto;
	background-color: #ffffff;
	box-shadow: 0 0 5px #ACACAC;
	border-radius: 3px;
	margin-top:40px;
	margin-bottom:40px;
}
.stepRight {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
	position:relative;
	margin: 0px auto;
	background-color: #ffffff;
	box-shadow: 0 0 5px #ACACAC;
	border-radius: 3px;
	margin-top:40px;
	margin-bottom:40px;
}
.stepInfo {
	box-sizing:border-box;
	position:relative;
	-moz-box-sizing:border-box;
	display:inline-block;
	width:65%;
	text-align:left;
	height:100%;
}
.stepUrl {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:relative;
	display:inline-block;
	width:317px;
	border:2px solid #4b75a4;
}
.stepInfo p {
	margin-bottom: 0px;
}
.stepUrl img {
	display:block;
	width:100%;
}
img.grid {
	position:absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.hexagon {
	z-index:1;
}
.stepArticle {
	position:absolute;
	width:10.7%;
	top:15px;
	text-align:center;
	z-index:3;
}
.stepLeft .stepArticle {
	left:273px;
}
.stepRight .stepArticle {
	right:273px;
}
p.stepNumber {
	color:#3d4d60;
	font-size:300%;
	font-weight:normal;
	margin:0px;
	margin-top: 0px;
	margin-bottom: -15px;
}
p.stepName {
	color:#3d4d60;
	font-size:130%;
	font-weight:normal;
	margin:0px;
}
.stepLeft .hexagon {
	position:absolute;
	left:272px;
}
.stepRight .hexagon {
	position:absolute;
	right:272px;
}
.stepLeft .stepUrl {
	float:left;
	border-right: none;
}
.stepLeft .line {
	float:left;
}
.stepRight .line {
	float:right;
}
.stepRight .stepUrl {
	float:right;
	border-left: none;
}
.stepLeft .stepInfo {
	padding:0px 5px 0px 7%;
}
.stepRight .stepInfo {
	float:right;
	text-align:right;
	padding:0px 7% 0px 5px;
}