/* ����� �����*/
.formStudProf
{
    margin: 0 auto;
    width: 958px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titleProfile{
    margin: 18px 0px 20px 25px;
    clear:both;
    color: #4b75a4;
}
/* ˳�� �����*/
.studProf{
    display:inline-block;
    float:left;
    width: 59%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.row {
	margin-bottom: 8px;
}
.rowPass {
	margin-top: 30px;
    margin-bottom: 8px;
}
.studProf label
{
    display: inline-block;
    width: 150px;
    height: 40px;
    float:left;
    text-align: right;
    margin-right: 28px;
    line-height: 40px;
}
.studProf input
{
    width: 350px;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.studProf textarea
{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    display: inline-block;
    width: 346px;
    height: 90px;
    margin-bottom: -4px;
}
.studProf input:hover,
.studProf textarea:hover{
    box-shadow:0 0 3px #4b75a4;
    cursor: pointer;
}
.studProf input:focus,
.studProf textarea:focus{
    box-shadow:0 0 3px #4b75a4;
    border-color:#4b75a4;
    cursor: text;
}

/* ����� �����*/
.studPhoto, .profileInfo{
    display:inline-block;
    float: right;
    width: 39%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;

}
.formStudProf img {
    width:190px;
    margin: 0 32px 0 22px;
}
/*������*/
.formStudProf input[type="submit"] {
     width: 190px;
     height:40px;
     border-radius: 5px;
     color:#ffffff;
     background-color:#4b75a4;
     margin-bottom: 30px;
}
.formStudProf input[type="submit"]:hover {
    box-shadow:0 0 3px #2f2f80;
    cursor: pointer;
}
/*������ ��� �����*/
.studProf input[type="submit"] {
    margin:10px 0px 30px 340px;
}
/*������ ����� �����*/
.studPhoto input[type="submit"], .profileInfo input[type="submit"] {
    margin:10px 0px 0px 22px;
}
input[type="submit"].uploadAvatar {
    margin-bottom:30px;
}
.photoButton  input[type="submit"] {
    margin:10px 0px 30px 22px;
}

#avatarInfo{
    color:#4b75a4;
    margin:10px 0 0 22px;
	height:20px;
}
#photoForm {
    margin-top:10px;
}
.fileform { 
    overflow: hidden;
    position: relative;
    width: 190px;
	height:40px;
	margin-left:22px;
}

.fileform .selectbutton {
    margin-bottom: 10px;
    background-color: #4b75a4;
    border: 1px solid #4b75a4;
	color: #ffffff;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding-top:10px;
	text-align:center;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
    width: 190px;
	z-index:1;
}

.fileform #upload {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    height: 40px; 
    z-index:2;
	cursor: pointer;
}

/*������������*/
span.required 
{
    color:red;   
} 
.formStudProf .errorMessage
{
    margin-left: 180px;
	color: red;
	font-size: 0.9em;
}

label.avatarInfo{
    color:#4b75a4;
    margin-left:30px;
}

td {
    vertical-align: top;
}
.formStudProf h1 {
    color: #4b75a4;
    margin: 0px;
    font-size: x-large;
}
.colorP {
    color: #4b75a4;
}
.activeInfo {
    border-bottom:1px solid #d8d8d8;
    margin: 0px 10px 0px 22px;
}
.payInfo {
    margin: 30px 10px 30px 22px;
}
.aboutInfo{
    margin: 30px 0px 30px 0px;
}
