/* Розмір форми*/
.formStudProf
{
    width: 958px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titleProfile{
    margin: 20px 0px 20px 25px;
    clear:both;
    color: #4b75a4;
}
/* Ліва форма*/
.studProf{
    display:inline-block;
    width: 59%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.row {
	margin-bottom: 8px;	
    margin-left: 20px;
}
.rowPass {
	margin-top: 30px;
    margin-bottom: 8px;		
    margin-left: 20px;	
}
.studProf label
{
    display: inline-block;
    width: 154px;
    height: 40px;
    float:left;
    text-align: right;
    margin-right: 20px;
    line-height: 40px;
}
.studProf input
{
    width: 355px;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.studProf textarea
{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    display: inline-block;
    width: 352px;
    height: 90px;
    margin-bottom: -4px;
}
.studProf input:hover,
.studProf textarea:hover{
    box-shadow:0 0 3px #4b75a4;
    border-color:#4b75a4;
    cursor: pointer;
}
.studProf input:focus,
.studProf textarea:focus{
    box-shadow:0 0 3px #4b75a4;
    border-color:#4b75a4;
    cursor: text;
}

/*Кнопки*/
.formStudProf input[type="submit"] {
     width: 190px;
     height:40px;
     border-radius: 5px;
     color:#ffffff;
     background-color:#4b75a4;
     margin-bottom: 30px;
}
.formStudProf input[type="submit"]:hover {
    box-shadow:0 0 3px #2f2f80;
    cursor: pointer;
}

/* Права форма*/
.studPhoto{
    display:inline-block;
    float: right;
    width: 39%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.studPhoto img {
    width:190px;
    margin: 0 0 10px 30px;
}

/*Кнопки лівої форми*/
.studProf input[type="submit"] {
    margin-bottom:30px;
    margin-left:328px;
}
/*Кнопки правої форми*/
.studPhoto input[type="submit"] {
    margin-left:30px;
    border:none;
    margin-top: 10px;
}
#avatarInfo{
    color:#4b75a4;
    margin:10px 0 0 30px;
	height:20px;
}

.fileform { 
    overflow: hidden;
    position: relative;
    width: 190px;
	height:40px;
	margin-left:30px;
}

.fileform .selectbutton { 
    margin-bottom: 10px;
    background-color: #4b75a4;
    border: 1px solid #4b75a4;
	color: #ffffff;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding-top:10px;
	text-align:center;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
    width: 190px;
	z-index:1;
}

.fileform #upload {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    height: 40px; 
    z-index:2;
	cursor: pointer;
}

/*Попередження*/
span.required 
{
    color:red;   
} 
.formStudProf .errorMessage
{
    margin-left: 165px;
	color: red;
	font-size: 0.9em;
}

label.avatarInfo{
    color:#4b75a4;
    margin-left:30px;
}
