.main {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	}
p, h1, h3, h4{
	font-family: Arial, Helvetica, sans-serif;
	}
.clear {
    width: 960px;
    clear: both;
}

/*******navigations-top******/
#navigation {
    background-color: white;
    width: 960px;
    position: fixed;
    z-index: 5;
}
.navigation {
    margin-top: 0px;
    background-color: white;
    width: 960px;
    position: fixed;
    z-index: 1;
}

#navigation div {
    float: left;
}

#navigation ul {
    margin-left: 260px;
    margin-right: 50px;
    margin-top: 25px;
	}

#navigation li {
	display:inline;
	padding: 10px;
}
#navigation ul a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: black;
}
#navigation ul a:hover{
	color: blue;
}
#line_small_off {
    width: 960px;
}
.line_small {
    width: 960px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid #4b75a4;
}
#logo_img{
    margin-top: 10px;
    margin-left: 10px;
}
/************************************/

#enter_button {
    margin-top: -28px;
    margin-left: 694px;
    z-index: 6;
}

.fixed {
      position: fixed;
      top: 40px;
      right: 300px;
    }

#footer{
    width: 960px;
	position: relative;
	margin-top: 20px;
	z-index: 0;

	}
#footer div {
	margin-left: 15px;
    float: left;
    height: 66px;
    font-size: 12px;
}

.footer {
    border-left: 2px solid #00ffff;
	padding-top: 10px;
    padding-left: 10px;
    color: #00ffff;
}
/************navigation-bottom***********/
#footer li {
    display:inline;
    padding: 8px;
}

#footer li a {
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: dodogerblue;
}

#logo{
    float: left;
    margin-left: -25px;
    margin-top: -10px;    
}
/****************************************/
#footer p{
	font-size: 10px;
	}




/** steps style **/


/* Стиль заголовку*/

.stepHeader h3{
    margin: 3px;
}
.stepHeader h5{
    color:#4b75a4;
    margin: 3px;
}
.stepHeader {
    text-align:center;
    margin: 0px auto;
    border-bottom:2px solid #4b75a4;
    padding:0px;
    display: table;
}

.steps p {
    font-size: 75%;
    margin-top:0px;
}
.steps h4 {
    margin-bottom:10px;
}

.steps {
    margin: 0px auto;
    background-color: #f3f3f3;
    padding-top:32px;
    padding-bottom:32px;
}
/* Стиль екземплярів класу Step*/
.stepLeft {
    overflow:hidden;
    position:relative;
    margin: 0px auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ACACAC;
    margin-top:20px;
    margin-bottom:20px;
}
.stepRight {
    overflow:hidden;
    position:relative;
    width: 540px;
    margin: 0px auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ACACAC;
    margin-top:20px;
    margin-bottom:20px;
}
.stepInfo {
    box-sizing:border-box;
    position:relative;
    -moz-box-sizing:border-box;
    display:inline-block;
    width:65%;
    text-align:left;
}
.stepUrl {
    box-sizing:border-box;
    position:relative;
    display:inline-block;
    width:33%;
    border:2px solid #4b75a4;
}
.line {
    background:#ffffff;
    box-sizing:border-box;
    position:relative;
    display:inline-block;
    width:1%;
    border:0px solid #af3bf4;
    height:100px; /*висота вкладки*/
    z-index:2;
}
.stepUrl img {
    width:100%;
}

.hexagon {
    position:absolute;
    width:10.7%;
    top:15px;
    z-index:1;
}
.stepArticle {
    position:absolute;
    width:10.7%;
    top:15px;
    text-align:center;
    z-index:3;
}
.stepLeft .stepArticle {
    left:28.2%;
}
.stepRight .stepArticle {
    right:28.2%;
}
p.stepNumber {
    color:#3d4d60;
    font-size:100%;
    font-weight:bold;
    margin:0px;
    margin-top:5px;
}
p.stepName {
    color:#3d4d60;
    font-size:80%;
    font-weight:bold;
    margin:0px;
}
.stepLeft .hexagon  {
    position:absolute;
    left:28.2%;
}
.stepRight .hexagon {
    position:absolute;
    right:28.2%;
}

.stepLeft .stepUrl {
    float:left;
}
.stepLeft .line {
    float:left;
}
.stepRight .line {
    float:right;
}
.stepRight .stepUrl {
    float:right;
}
.stepLeft .stepInfo {
    border-left:2px solid #4b75a4;
    padding:0px 5px 3px 7%;
}
.stepRight .stepInfo {
    border-right:2px solid #4b75a4;
    float:right;
    text-align:right;
    padding:0px 7% 3px 5px;
}





