body {
    margin: 0 auto;
}

.main {
    position: relative;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
h1, h2, h3, h4, html{
    font-family: "MyriadPro";
    color: #333333;
}
p {
    font-family: "MyriadPro";
    color: #666666;
}
.clear {
    width: 100%;
    clear: both;
}

/*************languages buttons*************/
#lang {
    width:150px;
    z-index: 6;
    left:50%;
    margin-left: 402px;
    margin-top: -84px;
    position: fixed;
}
#lang.down {
    margin-top: -40px;
    margin-left: 500px;
}
#lang #en {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding-left: 8px;
    padding-right: 8px;
}
#lang button{
    background:none!important;
    border:none;
    cursor: pointer;
    color: #4b70a3;
    font-size: 18px;
    font-family: "MyriadPro";
    text-decoration: underline;
}
#lang button a{
    background:none!important;
    border:none;
    cursor: pointer;
    color: #4b70a3;
    font-size: 18px;
    font-family: "MyriadPro";
    text-decoration: underline;
}
#lang .selectedLang {
    text-decoration: none;
    color: #999999;
}
/*************languages buttons*************/

/*******navigations-top******/
#navigation {
    display: block;
    height: 100px;
    border-bottom: 2px solid #336699;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5;
}
#navigation.down {
    height: 68px;
}

#navigation ul {
    margin-left: 475px;
    margin-top: 65px;
}
#navigation.down ul {
    margin-top: 22px;
}
#navigation li {
    display:inline;
    padding: 10px;
}
#navigation ul a {
    text-decoration:none;
    font-family: "MyriadPro";
    font-size: 18px;
    font-weight: normal;
    color: black;
}
#navigation ul a:hover{
    color: #003399;
}
#logo_img{
    float: left;
    margin-top: 13px;
}
#navigation img {
    max-width: 232px;
    max-height: 75px;
}
#logo_img.down {
    margin-top: 12px;
}
#logo_img.down img {
    max-height: 46px;
    max-width: 142px;
}

/******************enter button***************/

#button_border {
    border: 2px solid #4b70a3;
    border-radius: 10px 10px 0 0;
    position: fixed;
    margin-top: 78px;
    margin-left: 1048px;
    z-index: 6;
    height: 20px;
    width: 74px;

}
#button_border.down{
    display: none;
}
#enter_button {
    position: fixed;
    margin-top: 80px;
    margin-left: 1050px;
    z-index: 6;
    height: 33px;
    width: 70px;
    background: #4b70a3;
    border-radius:   10px;
    border: 2px solid #ffffff;
    color: white;
    vertical-align: middle;
    font: 16px/30px "MyriadPro";
    text-align:      center;
    text-decoration: none;
}
#enter_button:hover {
    background: #454545;
}
#enter_button:active {
    background: #363636;
}
#enter_button.down {
    margin-top: 18px;
}
#enter_button.down:hover{
    background: #454545;
}
/*********************enter button end****************/
/************************************/

/************navigation-bottom***********/
#footer{
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    border-bottom: 1px solid #33ccff;
}
#footer .main div {
    margin-left: 15px;
    margin-top: 10px;
    float: left;
    height: 90px;
}
.footer {
    border-left: 1px solid #33ccff;
    padding-left: 15px;
    color: #003399;
}
#footer ul {
    margin-top: 10px;
}
#footer li {
    display:inline;
    padding: 8px;
}
#footer li a {
    text-decoration:none;
    font-family: "MyriadPro";
    font-size: 15px;
    color: #003399;
}
#footer li a:hover{
    color: #666666;
}
#footer p{
    margin-top: 10px;
    font-size: 13px;
    color: #003399;
}
/****************************************/



/*************registration*************/
.fon
{
    width:auto;
    height: 675px;
    position:relative;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    border:none;
    z-index: 2;
}
#fon{
    z-index: 0;
}
.textFon{
    position:absolute;
    width:390px;
    height:100px;
    margin-top:5px;
    margin-left:468px;
    /*background-color:none;*/
    padding-top:0px;
    line-height:1;
    text-align:center;
    font-family:Calibri;
    color: #ffffff;
}
.formFon{
    position:absolute;
    width:548px;
    height:428px;
    margin-top:145px;
    margin-left:408px;
}
.zagolovok
{
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom:0;
    padding-bottom: 0;
    color:#ffffff;
    line-height: 100%;
}
.zagolovok2
{
    font-weight: 300;
    font-size: 21px;
    margin-top:0;
    padding-top: 0;
    margin-bottom: 35px;
    color:#ffffff;
}
.email-password{
    width:440px;
    height:110px;
    margin-left:50px;
    margin-top:50px;
}
.email1{
    float:left;
    width:440px;
    height:50px;
    margin-bottom:10px;
    border: 1px solid #999;
    border-radius: 7px;
    padding-left:20px;
    font:22px Arial, Helvetica, sans-serif;
    color:black;
    font-size: 16pt;
}
.password1{
    float:left;
    width:440px;
    height:50px;
    border-radius: 7px;
    border: 1px solid #999;
    padding-left:20px;
    font:22px Arial, Helvetica, sans-serif;
    color:black;
    font-size: 16pt;
}
.email1:hover { /* при наведении курсора мышки */
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
}
.email1:focus { /* при фокусе, когда поле input активно */
    outline: none;
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 10px rgba(35,146,243,.5);
    transition: .2s linear;
}
.password1:hover { /* при наведении курсора мышки */
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
}
.password1:focus { /* при фокусе, когда поле input активно */
    outline: none;
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 10px rgba(35,146,243,.5);
    transition: .2s linear;
}
.extendedRegistration{
    width:440px;
    height:25px;
    background-color:#ffffff;
    margin-top:15px;
    font:18px Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin-left:50px;
    padding-left:20px;
}
.extendedRegistration a{
    color:#4b75a4;
    text-decoration:none;
}
.extendedRegistration a:hover { /* при наведении курсора мышки */
    outline: none;
    color:#114988;
    transition: .2s linear;
}
.button1{
    width:195px;
    height:52px;
    border-radius: 10px;
    border:none;
    border-top:1px solid #9fb5ce;
    color:#ffffff;
    background:#4b75a4;
    margin-bottom: 30px;
    box-shadow:0px 2px 0px #7f7f7f;
    font: normal 400 28px/50px "MyriadPro";
    font-size: 25px;
    letter-spacing:1px;
    margin-left: 177px;
    margin-top: 15px;
    padding-top: 0px;
    padding-right: 30px;
    text-shadow:1px 1px 1px black;
}
input[type="submit"]::-moz-focus-inner { /* убираем внутренний отступ у кнопки в FF, который зарезервирован для рамки при фокусе */
    padding:0;
    border:0;
}
.button1:hover { /* при наведении курсора мышки */
    background: #454545;
    cursor: pointer;
}
.lineForm{
    width:440px;
    height:161px; /***crutches. make form!!!***/
    margin-left:50px;
    margin-top:15px;
}
.social{
    width:400px;
    height:16px;
    margin-left:70px;
    margin-top:-150px;
    font:16px Arial, Helvetica, sans-serif;
    color:#959595;
}
.image{
    width:410px;
    height:50px;
    margin-left:70px;
    margin-top:20px;
}

/* breadcrumbs */
.my-cool-breadcrumbs{
    padding-bottom: 24px;
    display: inline-block;
    margin-top: 40px;
    color: #666666;
}
.my-cool-breadcrumbs a:visited{
    color: #666666;
}
/* breadcrumbs */

div.profileStatus{
    position: absolute;
    top:76px;
    right:0;
    float:right;
    display:block;
    overflow: hidden;
}
.profileStatus img {
    width:56px;
    height:56px;
    float: right;
    margin-right: 10px;
}
.profileStatus div {
    float: right;
    font-size: smaller;
    line-height: 110%;
    color:#4b75a4;
}