
.TeacherProfiletitles
{
    position: relative;
    color:#4B75A4;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.TeacherProfilemainBlock
{
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}
.TeacherProfileblock1
{
    float:left;
    width:583px;
}
.TeacherProfileblock1 img
{
    display: block;
    width: 140px;
    height: 170px;
    padding-right: 20px;
}
.TeacherProfileblock2
{
    float:right;
    width:584px;
}
.TeacherProfilename
{
    color:#4B75A4;
    font-size:26px;
    margin-bottom:0px;
}
.TeacherProfilesectionText
{
    margin-top:-20px;
    margin-left:65px;
}
.TeacherProfilesectionText p
{
    margin-top:-12px;
}
.TeacherProfilecourse
{
    background-color:#D6EBE0;
    padding:1px;
    margin-bottom:10px;
}
a:link {font-size:16px; color:#4B75A4;}
a:visited {font-size:16px;}
a:hover {font-size:16px; color:#4b75fa}
div.aboutMore{
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    color: #4B75A4;
}
/*-------------------------*/
.txtMsg{
    font-weight: inherit;
    font-size: 16px;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.sm{
    font-weight: inherit;
    font-size: 11px;
    color: #4B75A4;
    margin: 0 0 0px 0;
    line-height: 100%;
}
div.border{
    padding-bottom: 0px;
    border-bottom: 1px solid #4B75A4;
}
/*----Response----*/
div.responseBG {
    border-top:3px solid #ffffff;
    background-color: rgba(75,117,164,0.2);
    overflow:hidden;
}