/*header navigation*/
.subNavBlockTeachers {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    clear: both;
}
div.subLinksTeachers{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:inline-block;
    margin-bottom: 28px;
    float:left;
    width: 30%;
}
div.ifYouTeachers{
    float:right;
    width:584px;
    box-sizing:border-box;
    display:inline-block;
    margin-bottom: 90px;
    padding:20px;
    background:#4B75A4;
    overflow: hidden;
}
div.ifYouTeachers label{
    float: left;
}
div.ifYouTeachers input{
    float: right;
    width: 400px;
}

.subLinksTeachers a{
    color: #666666;
}
/*Main Block*/
.teachersList
{
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}
/*Title*/
div.titleTeachers {
    padding: 0;
    margin-bottom: 30px;
}
.titleTeachers h1,h2 {
    font-weight: inherit;
    color: #4B75A4;
    margin: 0 0 10px 0;
    line-height: 100%;
}
/*teacher Column*/
.leftTeacher{
    float:left;
    width:583px;
}
.rightTeacher{
    float:right;
    width:584px;
}
/*teacher Profile Block*/
.teacherBlock {
    width:inherit;
    margin-bottom: 40px;
    overflow: hidden;
}
.teacherBlock p, .teacherBlock ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
img.teacherAvatar{
    display: block;
    width: 112px;
    height: 136px;
}
.teacherBlock table,.teacherBlock td{
    vertical-align: top;
    border-collapse: collapse;
    padding: 0;
}
.teacherBlock span{
    font-weight: bold;
}
.teacherBlock ul {
    padding-left: 20px;
}
.teacherCourses {
    padding-top:1px;
    padding-bottom:1px;
    padding-left: 20px;
    background-color: rgba(75,117,164,0.2);
    color:#467c98;
}
.teacherCourses a {
    color:#467c98;
}
div.aboutMore{
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    color: #4B75A4;
}
td.profileTeacher{
    text-align: center;
    padding: 0 20px 0 0;
}
td.profileTeacher a{
    display: inline-block;
    font-size: small;
    line-height: 100%;
}
.teacherBlock a:hover {
    color: #666666;
}
#formTeacher {
    color: white;
    text-align: right;
    position: relative;
    left: 20px;
}
.formTeacher1 {
    border-radius: 5px;
    height: 30px;
    width: 380px;
    text-align: left;
    text-indent: 5px;
    float: right;
}
#formTeacher2 {
    border-radius: 5px;
    height: 90px;
    width: 400px;
    text-align: left;
    text-indent: 5px;
    float:right;
}
#formTeacher3 {
    height: 110px;
    color: #ffffff;
}
#send_btn {
    width: 100px;
    height:30px;
    border-radius: 10px;
    border:none;
    color:#467c98;
    background-color:#EEEEEE;
    font-size: medium;
    margin-top: 20px;
}
.formFirstname.style {
    margin-left: 50px;
}
.formLastname.style {
    margin-left: 8px;
}
.formYearname.style {
    margin-left: 52px;
}
.formEducationname.style {
    margin-left: 30px;
}
.formPhonename.style {
    margin-left: 15px;
}