<<<<<<< HEAD
.com { color: #ffffff; }
.lit { color: #d28061; }
.pun, .opn, .clo { color: #ffffff; }
=======
.com { color: #aaaaaa; } 
.lit { color: #ff9966; }
.pun, .opn, .clo { color: #aaaaaa; }
>>>>>>> 9c09ab966b738ee596d017bfe76b9f6e72582976
.fun { color: #dc322f; }
.str, .atv { color: #99cc33; }
.kwd, .prettyprint .tag { color: #de5940; }  
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #5380b1; }

.prettyprint {
  padding: 8px;
  background-color: #072252;
  overflow: auto;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 0px 0 0 #fbfbfc, inset 0px 0 0 #ececf0;
   -moz-box-shadow: inset 0px 0 0 #fbfbfc, inset 0px 0 0 #ececf0;
   box-shadow: inset 0px 0 0 #fbfbfc, inset 0px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 0px;
  color: #bebec5;
  line-height: 20px;
}